* {
background-color: black;
}
h1{
color:#fafafa;
font-size:40px;
font-family: cursive;
text-align: center;
}
h2 {
color:#fafafa;
font-size:25px;
font-family: cursive;
}
table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
   }
