* {margin:0 ;
padding:0;
}
#foto-logo {
width: 100%;
height: 50%;
margin:0 ;
}
#circle-foto {
    margin-top: 14%;
    margin-left: 7%;
}
#circle-foto-text{
    background: #1c1a12;
}

#menu {
    border: 3px solid #e8a110;
    widht: 80%;
    height: 570px;
    margin: 10%;
}

#menu-logo {
margin-left: 9%;
margin-top: 6%;
}

#menu-content {
color: #fafafa;
width: 30%;
margin-left: 10%;
margin-top: 6%;
}
#btn-menu {
margin-left: 13%;
margin-top: 6%;
}

#foto-menu {
    margin-left: 60%;
margin-top: -20.2%;
}

#text-book {
    position: relative;
    font-size: 60px
}
#text-book-2 {
    position: relative;
    margin-top: -15px;
    margin-left: 280px;

}

#btn-book {
    border-radius: 20px;
    background-color: #ebc034;
    color: black;
    margin-top: 35px;

}

.inf-descr {
display: inline;
 margin: 0px;
 padding: 0px;
 font-size: inherit;
 color: inherit;
 line-height: inherit;
}
.btn{ position: relative;
float: left;
margin-left: 50px;

}
.form-control{position: relative;
float: left;
width: 500px;

}


#feetback-block {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background: #fafafa;
    margin-right: 100px;
    margin-top: 100px;

}
