/*убираем отступы у всех объектов*/
* {margin:0 ;
padding:0;
}

/*работа со списком вверху страницы*/
#nav-main {
	padding-left: 100px;
	padding-top: 7px;
    list-style-type: none;
    height: 70px;
    background: #1c1a12;
}
#nav-main-2 {

    background: #1c1a12;
}
#bs-example-navbar-collapse-1{
	    background: #1c1a12;
	    text-align: left


}
/*работа с текстом списка вверху страницы*/
#nav-main li a{
    font-size: 18px;
    text-decoration: none;
    color: #fafafa;
    display: block;
    text-align: center;
    width: 260px;
    padding: 11px;
    padding-top: 20px;
}
/*изменение цвета при наведении на текст*/
#nav-main li a:hover{
    color: #e8a110;
}

#up-page {
background: #1c1a12;
	margin-bottom: 0px

}