* {
text-align: center;
}
.res{
border: 1px solid orange;
background-color: black;
}

.text{
color:#fafafa;
font-size:20px;
font-family: cursive;}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: orange;
    background-image: none;
}