{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href='static/css/bar_menu-page.css'/>

<div class="container-fluid">
    <div style="color: #fafafa" class="row d-flex justify-content-center">
        <div class="col-10 pb-5 text-center">
            <h1>БАРНОЕ МЕНЮ</h1>
            <hr>
        </div>
    </div>
    <table class="text">
        <tr>
            <td class="leftcol">
                <div>
                    <div style="color: #fafafa">
                        <h2 class="left">ЛИМОНАДЫ</h2>
                        {% for item in lemon %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>КОФЕ</h2>
                        {% for item in kofe %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>ЧАИ</h2>
                        {% for item in tea %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td class="leftcol">
                <div style="color: #fafafa">
                    <div>
                        <h2>АВТОРСКИЕ КОКТЕЙЛИ</h2>
                        {% for item in main_kokt %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>КЛАССИЧЕСКИЕ КОКТЕЙЛИ</h2>
                        {% for item in classic_kokt %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>НАСТОЙКИ</h2>
                        {% for item in nast %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td class="rightcol">
                <div>
                    <div style="color: #fafafa">
                        <h2 class="left">ИГРИСТЫЕ ВИНА</h2>
                        {% for item in game_wine%}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>БЕЛЫЕ ВИНА</h2>
                        {% for item in white_wine%}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>КРАСНЫЕ ВИНА</h2>
                        {% for item in red_wine %}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
                <div style="color: #fafafa">
                    <div>
                        <h2>ВЕРМУТЫ</h2>
                        {% for item in vermouth%}
                        <div>{{item.name}} {{item.weight}}г {{item.price}}р</div>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>


{% endblock %}