<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="Щеголева Анастасия и Арина Некрасова">
    <meta name="description" content="Меню ресторана Bevri">
    <meta name="keywords" content="еда, ресторан, онлайн">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href='static/css/navigator.css'/>
    <style>
        #map {
            width: 550px;
            height: 500px;
        }
    </style>
    <link rel="shortcut icon" href="static/img/logo-site.png" type="image/png">
</head>
<body style="overflow-x:hidden">
<nav class="navbar navbar-default" role="navigation" id="up-page">
    <div class="container-fluid" id="nav-main">
        <div class="navbar-header" id="nav-main-2">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" id="navbar-brand-img"><img src="static/img/logo-site.png" alt="Логотип ресторана" style="width:46px;height:46px;object-fit:cover" width="60" height="60">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/menu">Меню</a></li>
                <li><a href="/#gallery">Галерея</a></li>
                <li><a href="/reserving">Забронировать</a></li>
                <li><a href="/#maps">Местоположение</a></li>
            </ul>
        </div>

    </div>
</nav>
{% block content %} {% endblock%}
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<footer style="background-color:black; text-align:center; font-family:'Courier New'">
    <h2 style="color:#fafafa"><strong>Контакты</strong></h2>
    <h2 style="color:orange">+7 (916) 465-34-10</h2>
    <h3 style="color:#fafafa"><strong>ул. Грузинский Вал, 11, стр. 3, Москва</strong></h3>
    <h3 style="color:#fafafa">Режим работы:</h3>
    <h3 style="color:#fafafa">Вс-Чт: 12:00 - 02:00</h3>
    <h3 style="color:#fafafa">Пт-Сб: 12:00 - 04:00</h3>
    <a href="https://vk.com/myata_platinum_belorusskaya" target=_blank>
      <img src="static/img/vk.png" alt="Иконка VK" width="40" border="0" style="display: block; width:40;">
</a>
</footer>
</body>
</html>