{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href='static/css/main-page.css'/>


<div style="background: black">
    <!--    логотип сайта на главной странице-->
    <div>
        <img src="static/img/помещение+логотип.jpg" class="img-fluid" alt="Помещение ресторана"
             title="Мята Platinum Белорусская" id="foto-logo">
    </div>
    <div class="jumbotron" style="background: black">
        <div class="container-fluid" id="circle-foto">
            <div class="row">

                <div class="col-md-4">
                    <img class="img-circle img-responsive" src="static/img/circle-place.png"><br><br><br>
                    <pre><h5 style="color: #fafafa">     ТРАНСЛЯЦИИ
  НА БОЛЬШОМ ЭКРАНЕ</h5></pre>

                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive" src="static/img/circle-rest.png"><br><br><br>
                    <pre><h5 style="color: #fafafa">         БОЛЬШАЯ
      ЛЕТНЯЯ ВЕРАНДА</h5></pre>

                </div>
                <div class="col-md-4">
                    <img class="img-circle img-responsive" src="static/img/circle-food.png"><br><br><br>
                    <pre><h5  style="color: #fafafa">     ИДЕАЛЬНОЕ МЕСТО
  ДЛЯ ВАШЕГО ТОРЖЕСТВА</h5></pre>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}