{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href='static/css/main-page.css'/>


<div style="background: black" class="container-fluid">
    <!--    логотип сайта на главной странице-->
    <div>
        <img src="static/img/помещение+логотип.jpg" class="img-fluid" alt="Помещение ресторана"
             title="Мята Platinum Белорусская" id="foto-logo">
    </div>
    <!--    описание помещения-->
    <div class="jumbotron" style="background: black">
        <div class="container-fluid" id="circle-foto">
            <div class="row" >

                <div class="col-md-4 circle-foto-text">
                    <img class="img-circle img-responsive img-fluid" src="static/img/circle-place.png"><br><br>
                    <h5 style="color: #fafafa; text-align: left; ">         ТРАНСЛЯЦИИ
  НА БОЛЬШОМ ЭКРАНЕ</h5>

                </div>
                <div class="col-md-4 circle-foto-text">
                    <img class="img-circle img-responsive img-fluid" src="static/img/circle-rest.png"><br><br><br>
                    <h5 style="color: #fafafa; text-align: left; ">         БОЛЬШАЯ
      ЛЕТНЯЯ ВЕРАНДА</h5>

                </div>
                <div class="col-md-4 circle-foto-text" >
                    <img class="img-circle img-responsive img-fluid" src="static/img/circle-food.png"><br><br><br>
                  <h5 style="color: #fafafa; text-align: left; ">     ИДЕАЛЬНОЕ МЕСТО
  ДЛЯ ВАШЕГО ТОРЖЕСТВА</h5>

                </div>
            </div>
        </div>
    </div>
    <!--    галерея-->
    <div class="container-fluid">
        <img src="static/img/gallery.png" id='gallery' alt="gallery" title="gallery restaurant"
             style="width: 50%; height: 20%; margin-left: 27%; margin-top: 10%;margin-bottom: 10%">
    </div>

    <!--    меню-->
    <div id="menu" class="container-fluid">
        <div class="row">
            <div>
                <h1 id="menu-logo" style="color: #fafafa">Изысканная кухня</h1>
            </div>
            <div id="menu-content" style="line-height: 60%"><h4>Утонченная подача превращает каждый прием пищи в настоящий ритуал, вызывая восхищение
                и наслаждение. Мы
                гордимся тем, что предлагаем незабываемый опыт гастрономического искусства, окутанный атмосферой
                элегантности и роскоши.</h4>
            </div>

            <div >
                <img src="static/img/меню.png" class="img-fluid" alt="menu" title="menu" id="foto-menu">
            </div>
            <div>
                <a class="btn btn-warning btn-lg" role="button" href="/" id="btn-menu">Посмотреть меню</a>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>

{% endblock %}