{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href='static/css/menu-page.css'/>


<div style="background-image: url('static/img/menu_fon.jpg')" class="container-fluid">
    <div class="container-fluid" id="nav-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/main_menu">Главное Меню</a></li>
                <li><a href="/bar_menu">Барная карта</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}