{% extends 'base.html'%}{% block content %}
<link rel="stylesheet" href='static/css/menu-page.css'/>


<div class="container-fluid" id="main-block">
    <div class="container-fluid" id="nav-menu">
        <div class="row" id="row-menu">
            <div class="col-md-4" id="main-menu-foto">
                <img src="static/img/main-menu-foto.png" alt="main-menu-foto" title="main-menu-foto">
            </div>
            <div class="col-md-4" id="main-menu-text">
                <div>
                    <h1 style="color: #fafafa; font-size: 40px">Главное меню</h1>
                </div>
                <div>
                    <a class="btn btn-danger btn-md " role="button" href="/main_menu" style="margin-top: 2%">Посмотреть</a>
                </div>
            </div>
        </div>
        <div class="row" id="row-menu-2">

            <div class="col-md-4" id="main-menu-text-2">

                <div>
                    <h1 style="color: #fafafa; font-size: 40px">Барное меню</h1>
                </div>
                <div>
                    <a class="btn btn-danger btn-md " role="button" href="/" style="margin-top: 2%">Посмотреть</a>
                </div>
            </div>
            <div class="col-md-4" id="main-menu-foto-2">
                <img src="static/img/bar-menu-foto.jpg" alt="bar-menu-foto" title="bar-menu-foto">
            </div>
        </div>
    </div>
</div>
{% endblock %}