{% extends "base.html" %}

{% block content %}
<h1>Бронирование</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.phone.label }}<br>
        {{ form.phone(class="form-control") }}<br>
        {% for error in form.phone.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control") }}<br>
        {% for error in form.date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.num_of_guests.label }}<br>
        {{ form.num_of_guests(class="form-control") }}<br>
        {% for error in form.num_of_guests.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.reserv_time.label }}<br>
        {{ form.reserv_time(class="form-control") }}<br>
        {% for error in form.reserv_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.comment.label }}<br>
        {{ form.comment(class="form-control") }}<br>
        {% for error in form.comment.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}